/*IMAGEZOOM-------------------------------*/
.b2Imgs,
.imgz {
  cursor: pointer;
}

.zoomindimmer {
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.856);
  height: 100vh;
  width: 100%;
  z-index: 1;
  -webkit-backdrop-filter: grayscale(1);
  backdrop-filter: grayscale(1);
  display: none;
}

.zoomin {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: none;
}

.zoomincontent {
  max-height: 95vh;
  max-width: 100vw;
  animation: zoom 0.5s forwards var(--sleek);
}

.imgpropgroup {
  display: -ms-flexbox;
  display: flex;
}

.zoomalttext {
  max-width: 60vw;
  text-align: center;
  background: var(--blackfL);
  color: var(--textfL);
  margin: 0.3em 1rem 0.5em 1rem;
  animation: zoom 0.5s forwards var(--sleek);
  padding: 0.2rem 1rem;
  border-radius: 10px;
  font-weight: 800;
  font-family: var(--contentsecondary);
}

.zoomlosslesslink {
  max-width: 60vw;
  text-align: center;
  border: solid 1px var(--blackfL);
  color: var(--textD) !important;
  margin: 0.3em 1rem 0.5em 1rem;
  animation: zoom 0.5s forwards var(--sleek);
  padding: 0.2rem 1rem;
  border-radius: 10px;
  font-weight: 200;
  font-family: var(--contentsecondary);
}

.zoomaltlink {
  color: var(--accentD) !important;
}

.zoomincontentAlign {
  width: 100%;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  cursor: zoom-out;
}

.zoomDisable {
  display: none;
}
@keyframes zoom {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
/*IMAGEZOOM-------------------------------*/
.filterDropdown {
  background: var(--blackfL);
  color: var(--textfL);
  font-family: var(--contentsecondary);
  font-weight: 600;
  border-radius: 5px;
  padding: 0.3rem 3rem;
  cursor: pointer;
}
.filterDropdown:hover {
  background: var(--accentD);
  color: var(--textD);
  font-weight: 900;
}
.filterDropdown.holdDrop {
  background: none;
  border: solid 1px var(--accentD);
  box-sizing: border-box;
  color: var(--textaccentD);
  font-weight: 900;
}

.filterDrop {
  position: absolute;
  background: var(--alpha2baseD);
  font-weight: 500;
  margin-top: 3em;
  width: 130%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  padding: 1rem 0;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 20px;
  transition: background 0.2s var(--sleek), color 0.2s var(--sleek), transform 0.2s var(--anchorhead), opacity 0.2s var(--sleek);
  transform: translateY(-120px);
  opacity: 0;
  pointer-events: none;
}
.filterDrop.dropped {
  transform: translateY(0px);
  opacity: 1;
  pointer-events: auto;
  transition: transform 0.2s var(--sleek), opacity 0.2s var(--sleek);
}

@media screen and (max-width: 420px) {
  .filterDropdown {
    padding: 0.3rem 1.5rem;
  }
  .filterDrop {
    width: 110%;
  }
}
.filterButtonGroup {
  color: var(--textD);
  margin-bottom: 1em;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  transition: background 0.2s var(--sleek), color 0.2s var(--sleek);
}

.FTbutton {
  cursor: pointer;
  margin: 0 2%;
  background: var(--alphabaseD);
  width: 25%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  padding: 0.3rem;
  border-radius: 10px;
  transition: background 0.2s var(--sleek), filter 0.2s var(--sleek), transform 0.2s var(--anchorhead);
}
.FTbutton:hover {
  filter: var(--brightnessD);
}
.FTbutton:active {
  transform: scale(0.8);
}
.FTbutton.FTon {
  background: var(--accentD);
}
.FTbutton.FTon .FTicon {
  transform: scale(1.2);
}

.filterCheckbox {
  display: none;
}

.FTicon {
  font-variation-settings: "FILL" 1, "wght" 200, "GRAD" 0, "opsz" 24;
  --iconSize: 90px;
  height: var(--iconSize);
  width: var(--iconSize);
  font-size: 70px;
  display: grid;
  place-items: center;
  transition: color 0.2s var(--sleek), transform 0.2s var(--bounce);
}

.FTname {
  font-family: var(--display);
  font-weight: 100;
  margin: 0.5rem 0;
}

#reloadButton {
  cursor: pointer;
  pointer-events: none;
  padding: 0.5em;
  border: solid 1px var(--blackfL);
  font-family: var(--content);
  color: var(--textD);
  border-radius: 10px;
  width: 70%;
  text-align: center;
  opacity: 0.5;
  border: 3px solid var(--textD);
  box-shadow: var(--accentD) 0 0px 0;
  transition: transform 0.2s var(--bounce), box-shadow 0.2s var(--bounce);
}
#reloadButton.reloadReady {
  box-shadow: var(--textD) 0 5px 0;
  transform: translateY(-5px);
  pointer-events: auto;
  opacity: 1;
  background: var(--alphabaseD);
}
#reloadButton:hover {
  transform: translateY(-10px);
  box-shadow: var(--textD) 0 10px 0;
}
#reloadButton:active {
  transform: translateY(0px);
  box-shadow: var(--accentD) 0 0 0;
  transition: all 0.1s var(--accel);
}/*# sourceMappingURL=gallery.css.map */