/*IMAGEZOOM-------------------------------*/
.b2Imgs, .imgz {
  cursor: pointer;
}

.zoomindimmer {
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.856);
  height: 100vh;
  width: 100%;
  z-index: 1;
  -webkit-backdrop-filter: grayscale(1);
  backdrop-filter: grayscale(1);
  display: none;
}

.zoomin {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: none;
}

.zoomincontent {
  max-height: 95vh;
  max-width: 100vw;
  -webkit-animation: zoom 0.5s forwards var(--sleek);
  animation: zoom 0.5s forwards var(--sleek);
}

.zoomalttext {
  max-width: 60vw;
  text-align: center;
  font-family: var(--content);
  background: var(--blackfL);
  color: var(--textfL);
  margin: .3em 1rem .5em 1rem;
  animation: zoom 0.5s forwards var(--sleek);
  padding: .2rem 1rem;
  border-radius: 10px;
  font-weight: 800;
  font-family: var(--contentsecondary);
}
.zoomaltlink {
  color: var(--accentD) !important;
}

.zoomincontentAlign {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: zoom-out;
}

.zoomDisable {
  display: none;
}

@-webkit-keyframes zoom {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes zoom {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  
  to {
    opacity: 1;
    transform: scale(1);
  }
}
/*IMAGEZOOM-------------------------------*/