#hello {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: grid;
  place-items: center;
  z-index: -1;
}

.hero {
  position: relative;

  /*margin-right: 40%;*/
  color: var(--white);
}

.theactualhello {
  font-family: var(--display);
  font-size: 6em;
  font-weight: 800;
}

.dialogue {
  font-family: var(--display);
  font-size: 2em;
  font-weight: 700;
}

.uh {
  font-family: var(--contentsecondary);
}

.heroimage {
  position: absolute;
  z-index: -1;
  height: 100vh;
  overflow: hidden;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: brightness(0.5);

  >div {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    animation: heroimage 25s var(--sleek) infinite;
    opacity: 0;
    transform: scale(1.2);
  }
}

.offsetbottom {
  background-position: bottom !important;
}

.heroimage>div {
  &:nth-child(2) {
    animation-delay: 5s;
  }

  &:nth-child(3) {
    animation-delay: 10s;
  }

  &:nth-child(4) {
    animation-delay: 15s;
  }

  &:nth-child(5) {
    animation-delay: 20s;
  }
}

@keyframes heroimage {
  10% {
    opacity: 1;
  }

  20% {
    opacity: 1;
  }

  30% {
    opacity: 0;
  }

  40% {
    transform: scale(1);
  }
}

.heroimg {
  position: relative;
  width: 100vw;
}

.forwardwrap {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 100vh;
  position: absolute;
}

.forward {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 60px;
  z-index: 1;
}

.capsule {
  width: 10px;
  height: 30px;
  border: solid 1px var(--white);
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.dot {
  background: var(--white);
  --dotsize: 5px;
  width: var(--dotsize);
  height: var(--dotsize);
  border-radius: 50%;
  transform: translateY(5px);
  animation: forward 1s infinite var(--anchorhead);
}

@keyframes forward {
  0% {
    opacity: 0;
  }

  25% {
    transform: translateY(5px);
    opacity: 1;
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

#fader {
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(24, 24, 24, 0) 60%, #181818);
}

@media screen and (max-width: 740px) {

  #hello,
  #fader,
  .forwardattrwrap,
  .orbcursor {
    display: none !important;
  }
}

.mainboxfloater {
  display: flex;
  justify-content: center;
}

.mainbox {
  background: var(--baseD);
  padding: 2rem 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background 1s var(--sleek);
  max-width: 1920px;
}

@media screen and (max-width: 800px) {
  .mainbox {
    padding: 3rem;
  }
}

@media screen and (max-width: 580px) {
  .mainbox {
    padding: 0rem;
  }
}

.cardgrid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 300px;
  max-width: 80%;
  padding: 4rem 0;
}

/* @media screen and (max-width: 1000px) {
        .cardgrid {
            grid-template-columns: repeat(1, 1fr);
        }
    } */

.cards {
  position: relative;
  color: var(--textD);
  max-width: 100%;
  background: var(--basesecondaryD);
  border-radius: 20px;
  word-wrap: break-word;
  overflow: hidden;
  transition: all 1s var(--sleek);
  box-shadow: var(--boxshadowD);
}

a.linkcard {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
  transition: all 0.5s var(--sleek) !important;

  &:hover {
    background: var(--accentD);
    transform: scale(1.1) rotate(3deg) !important;

    .dynamicarrow {
      margin-left: 10px;
    }

    .line {
      opacity: 1;
    }

    .arrow {
      transform: translateX(3px);
    }

    .textcard {
      color: var(--textfL);
    }

    &::before {
      background: var(--accentsecondaryD);
      opacity: 1;
      transform: scale(0.9) rotate(-5deg) !important;
    }
  }

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background: black;
    position: absolute;
    z-index: -1;
    transition: all 0.5s var(--sleek);
    opacity: 0;
    border-radius: 20px;
  }
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.customarrow {
  stroke-width: 2px;
  fill: none;
  stroke: var(--textD);
  width: 40px;
  height: 40px;
  margin-left: 7px;
  transition: all 0.15s;
  margin-top: 1rem;
}

.line {
  opacity: 0;
}

.invis {
  background: none;
  box-shadow: none;
}

.gimgs {
  cursor: pointer;
}

.longcard {
  grid-row: span 2/auto;
}

.extralongcard {
  grid-row: span 3/auto;
}

.bigcard {
  grid-row: span 2/auto;
  grid-column: span 2/auto;
}

.widecard {
  grid-column: span 3/auto;
}

.superwidecard {
  grid-column: span 4/auto;
}

.mediumwidecard {
  grid-column: span 2/auto;
}

.ghost {
  display: none;
}

.dynamicUpscale-small-mediumwide {
  grid-row: span 1/auto;
  grid-column: span 1/auto;
}

.dynamic-long-mediumwide {
  grid-row: span 2/auto;
}

.dynamic-mediumwide-long {
  grid-column: span 2/auto;
}

.titlecard {
  grid-column: span 3/auto;
}

@media screen and (max-width: 1366px) {
  .longcard {
    grid-row: span 1/auto;
  }

  .extralongcard {
    grid-column: span 1/auto;
  }

  .bigcard {
    grid-row: span 1/auto;
    grid-column: span 1/auto;
  }

  .smallwidecard {
    grid-column: span 1/auto;
  }

  .widecard {
    grid-row: span 1/auto;
    grid-column: span 1/auto;
  }

  .superwidecard {
    grid-column: span 2/auto;
  }

  .widecardp {
    grid-column: span auto/auto;
  }

  .mediumwidecard {
    grid-column: span 1/auto;
  }
}

@media screen and (max-width: 700px) {
  .read {
    grid-row: span 2/auto;
  }
}

@media screen and (min-width: 1785px) {
  .dynamicUpscale-small-mediumwide {
    grid-row: span 1/auto;
    grid-column: span 2/auto;
  }

  .ghost {
    display: block;
  }
}

@media screen and (max-width: 1367px) {
  .dynamic-long-mediumwide {
    grid-column: span 2/auto;
    grid-row: span 1/auto;
  }

  .dynamic-mediumwide-long {
    grid-column: span 1/auto;
    grid-row: span 2/auto;
  }
}

@media screen and (max-width: 1090px) {

  .dynamic-long-mediumwide,
  .dynamic-mediumwide-long {
    grid-column: span 1/auto;
    grid-row: span 1/auto;
  }

  .superwidecard {
    grid-column: span 1/auto;
  }
}

/*textcard--------------------------------*/

.textcard {
  padding: 1rem;
  font-family: var(--content);
  font-size: 2em;
}

.titletextcard {
  font-size: 2.2em;
  font-family: var(--display);
  font-weight: 900;
  margin-bottom: 1rem;
  border-bottom: solid var(--textD) 1px;
}

.medium {
  font-size: 2em;
  font-family: var(--display);
  font-weight: 500;
}

.big {
  font-size: 3em;
  font-family: var(--display);
  font-weight: 500;
}

.bigger {
  font-size: 3.6em;
  font-family: var(--display);
  font-weight: 900;
}

.huge {
  font-size: 7em;
  font-family: var(--display);
  font-weight: 900;
}

.longtext {
  font-size: 1.2em;
  font-family: var(--contentsecondary);
}

.longtextread {
  font-family: var(--content);
  line-height: 1.7;
  font-size: 1.15em;
}

.subquote {
  font-family: var(--contentsecondary);
  font-size: 1rem;
  font-style: italic;
  color: var(--textsecondaryD);
}

.quotation {
  font-family: var(--contentsecondary);
  font-size: 1rem;
  font-style: italic;
  margin-top: 1em;
  color: var(--textsecondaryD);
}

.wlimiter {
  width: 70%;
}

@media screen and (max-width: 1390px) {
  .titletextcard {
    font-size: 1.5em;
  }

  .big {
    font-size: 2.5em;
    font-family: var(--display);
    font-weight: 500;
  }
}

@media screen and (max-width: 500px) {
  .titletextcard {
    font-size: 1.3em;
  }
}

/*textcard--------------------------------*/
/*backgroundtext--------------------------*/

.textcontainer {
  position: relative;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  display: flex;
  align-items: flex-end;
  padding: 0 1rem;
  background: linear-gradient(rgba(0, 0, 0, 0) 60%, var(--black));
}

.textgroup {
  position: relative;
  min-width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 1rem;
  font-family: var(--content);
  color: var(--textD);
}

.bypass {
  position: absolute;
}

.imgtext {
  margin-bottom: 0.5rem;
}

/*backgroundtext--------------------------*/
/*thumbnailcard---------------------------*/

.thumbtextcontainer {
  position: relative;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  display: flex;
  align-items: flex-end;
}

.thumbtextgroup {
  max-width: 100%;
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-family: var(--content);
  color: var(--textD);
  background: var(--basesecondaryD);
}

/*thumbnailcard---------------------------*/
/*customs---------------------------------*/

.variable {
  font-weight: 700;
  transition: all 1s var(--sleek);

  &:hover {
    font-weight: 800;
  }
}


.inlineattribute {
  color: var(--accentD) !important;
  margin: -0.3em;
  background: var(--blackfL);
  border-radius: 10px;
  padding: 0.05rem 0.3rem;
  vertical-align: middle;
}

.buttonalign {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

/*IMAGEZOOM-------------------------------*/
.daImgs {
  cursor: pointer;
}

.zoomindimmer {
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.856);
  height: 100vh;
  width: 100%;
  z-index: 1;
  -webkit-backdrop-filter: grayscale(1);
  backdrop-filter: grayscale(1);
  display: none;
}

.zoomin {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: none;
}

.zoomincontent {
  max-height: 100vh;
  max-width: 100vw;
  -webkit-animation: zoom 0.5s forwards var(--sleek);
  animation: zoom 0.5s forwards var(--sleek);
}

.zoomincontentAlign {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: zoom-out;
}

@-webkit-keyframes zoom {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes zoom {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  
  to {
    opacity: 1;
    transform: scale(1);
  }
}
/*IMAGEZOOM-------------------------------*/

/*# sourceMappingURL=index-gallery.css.map */

/*# sourceMappingURL=index-gallery.css.map */